.services-card__close-button {
  width: 20px;
  height: 20px;
  background-image: url(../../../images/close-button-white.svg);
  background-size: cover;
  background-color: rgba(250, 250, 250, 0);
  border: none;
  position: absolute;
  top: -20px;
  right: 15px;
  transition: all 0.3s ease;
}

.services-card__close-button:hover {
  cursor: pointer;
  background-image: url(../../../images/close-button-gold.svg);
}

@media (min-width: 768px) {
  .services-card__close-button {
    width: 30px;
    height: 30px;
    top: 35px;
    right: -35px;
  }
}
