.swiper {
  overflow-y: visible !important;
}

.swiper-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-button-prev, .swiper-button-next {
  color: #FFFFFF !important;
}

.swiper-pagination {
  height: 50px;
  top: -80px !important;
}

.swiper-pagination-current {
  width: auto;
  height: auto;
  color: #FFFFFF;
  font-family: "BrunoAce";
  font-size: 38px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

@media (min-width: 960px) {
  .swiper-pagination {
    height: 75px;
    top: -115px !important;
  }

  .swiper-pagination-current {
    font-size: 64px;
  }
}
