.professionals {
  min-height: 100vh;
  background-image: url(../../images/backgrounds/professionals-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
