.header__call-button-image {
  width: 12px;
  height: 12px;
  background-image: url(../../../images/phone-icon.svg);
  background-size: cover;
}

@media (min-width: 600px) {
  .header__call-button-image {
    width: 20px;
    height: 20px;
  }
}
