.professionals__title {
  width: 300px;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.3rem;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .professionals__title {
    width: 100%;
  }
}

