.about__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4rem;
  text-decoration: none;
  color: #FFAC30;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.about__button:hover {
  opacity: 0.4;
}
