.professionals__button {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.3rem;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.professionals__button:hover {
  color: #FFAC30;
}

.professionals__button:hover .professionals__arrow {
  background-image: url(../../../images/arrow-gold.svg);
}

@media (min-width: 600px) {
  .professionals__button {
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  .professionals__button {
    font-size: 20px;
    z-index: 10;
  }
}
