.professionals__button {
  width: 345px;
  margin-top: 100px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.3rem;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: all 0.3s ease;
  z-index: 10;
}

.professionals__button:hover {
  cursor: pointer;
  color: #FFAC30;
}

.professionals__button:hover .professionals__arrow {
  background-image: url(../../../images/arrow-gold.svg);
}
