.services-card__title_second {
  max-width: 320px;
  margin: 40px 0;
  color: #FFAC30;
}

.services-card__title_second:hover {
  cursor: default;
}

@media (min-width: 1024px) {
  .services-card__title_second {
    max-width: 550px;
    margin: 80px 0;
  }
}
