.header__burger-menu {
  width: 30px;
  height: 15px;
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../../../images/header-burger.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.header__burger-menu:hover {
  cursor: pointer;
  background-image: url(../../../images/header-burger-gold.svg);
}
