.about-card {
  min-width: 250px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
  transition: all 0.3s ease;
}

.about-card_active {
  min-width: 980px;
}

.about-card__text {
  max-width: 550px;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #FFFFFF;
  text-align: left;
  opacity: 0;
}

.about-card__text_active {
  opacity: 1;
  transition: all 0.6s 0.2s ease;
}

.about-card__button {
  width: 170px;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.3rem;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 0;
}

.about-card__button_active {
  opacity: 1;
  transition: all 0.6s 0.2s ease;
}

.about-card__button:hover {
  cursor: pointer;
  color: #FFAC30;
}
