.form-button__arrow {
  width: 115px;
  height: 20px;
  background-image: url(../../../images/arrow-gold.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.form-button__arrow_disabled {
  background-image: url(../../../images/arrow.svg);
}
