.about-card__text {
  margin: 0;
  max-width: 320px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.3s ease;
}
