.services-card {
  height: 20vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
}

.services-card:hover .services-card__title {
  color: #FFAC30;
}

@media (min-width: 1600px) {
  .services-card {
    min-height: 100vh;
  }
}
