.work__title {
  width: 300px;
  margin: 100px 0 ;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.3rem;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media (min-width: 960px) {
  .work__title {
    width: 100%;
  }
}
