.services-card__button {
  width: 285px;
  margin: 0 0 70px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.3rem;
  color: #FFAC30;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.services-card__button:hover {
  cursor: pointer;
  opacity: 0.6;
}
