.left-panel {
  padding: 0 0 80px 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
}

.left-panel__icon-container {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-panel__icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
