.services-card__text {
  max-width: 300px;
  margin: 0 0 25px;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.3s ease;
}

@media (min-width: 1024px) {
  .services-card__text {
    max-width: 550px;
    font-size: 18px;
    text-align: left;
  }
}
