.service-list__button {
  max-width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4rem;
  text-decoration: none;
  color: #FFAC30;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.service-list__button:hover {
  opacity: 0.4;
}

@media (min-width: 600px) {
  .service-list__button {
    font-size: 20px;
  }
}
