.order-form__field {
  width: 100%;
  height: 20px;
  padding: 0 0 5px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  outline: none;
}

.order-form__field:focus {
  border-bottom: 1px solid #FFAC30;
}

.order-form__field::placeholder {
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #F8F8FF;
  opacity: 0.5;
}

@media (min-width: 600px) {
  .order-form__field {
    height: 30px;
    font-size: 18px;
  }

  .order-form__field::placeholder {
    font-size: 18px;
  }
}
