.footer__tablet {
  width: 800px;
  height: 600px;
  align-self: center;
  justify-self: center;
  background-image: url(../../../images/footer-tablet.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
