.header__menu-link {
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

.header__menu-link:hover {
  cursor: pointer;
  color: #FFAC30;
}

@media (min-width: 960px) {
  .header__menu-link {
    font-size: 20px;
  }
}
